@import "tailwindcss";

@theme inline {
  --color-background: theme('colors.background');
  --color-foreground: theme('colors.foreground');
  --font-sans: theme('fontFamily.sans');
  --font-heading: theme('fontFamily.heading'); /* Use Lexend for headings */
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
